<?xml version="1.0" encoding="UTF-8"?>
 <Installer>
	<Name>P2 DLM2 Project "James Gouin and the Holy Banana" </Name>
	<Version>1.0.0</Version>
	<Title>James Gouin and the Holy Banana</Title>
	<Publisher>Banana Rocket</Publisher>
	<ProductUrl>http://www.bananarocket.ch/</ProductUrl>
	<InstallerWindowIcon>installer</InstallerWindowIcon>
	<InstallerApplicationIcon>installer</InstallerApplicationIcon>
	<Logo>logo.png</Logo>
	<AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
	<AllowSpaceInPath>true</AllowSpaceInPath>
	<Background>background.png</Background>
	<StartMenuDir>James Gouin</StartMenuDir>
	<TargetDir>@ApplicationsDir@/JG Holy Banana/</TargetDir>
	<AdminTargetDir>@ApplicationsDir@/JG Holy Banana/</AdminTargetDir>
	<RepositorySettingsPageVisible>false</RepositorySettingsPageVisible>
 </Installer>