Sirius/Convertisseur_Map/Build-Convertisseur_Map-Debug/
*.user
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_5_0_clang_64bit2-Debug/
Designer/JG_Designer/Build-JG_Designer-Debug/
Sirius/JG_Banane_Sacree/Build-JG_Banane_Sacree-Debug/
Designer/
